.tracks-bgline {
    stroke: rgb(180,180,180);
    stroke-width: 1;
}

.tracks-bgcell {
    fill: rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.tracks-bgcell:hover {
    opacity: 1;
}

.tracks-bgcell.selected {
    opacity: 1;
    fill: rgba(0, 0, 0, 0.5);
}

.track {
    fill: rgb(0, 0, 0);
}

.track-block {
    fill: rgb(255, 255, 255);
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

.track-blocktext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.track-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.trackdiagram-bg {
    background-color: rgb(199,215,181);
}